<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mapKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFB224971CE421CC002EF5B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB224B01CE421CC002EF5B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB224BB1CE421CC002EF5B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
